/*navbar*/
.navbar {
  display: flex;
  height: 10vh;
}
.left-container,
.right-container {
    padding-left: 20px;
    padding-right: 20px;
}
.left-container {
  display: flex;
  flex: 80vw;
  align-items: center;
  column-gap: 5px;
}
.home {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.right-container {
  display: flex;
  flex: 10vw;
  align-items: center;
  column-gap: 20px;
}
.name,
.right-container a {
  color: whitesmoke;
}
.burger{
  display: none;
}
@media only screen and (max-width: 1024px){

  .left-container,
  .right-container {
      padding-left: 20px;
      padding-right: 20px;
  }
  .burger{
      display: none;
  }
}
@media only screen and (max-width: 767px){
  .left-container a,
  .right-container a {
      font-size: 15px;
  }
  .navbar {
      height: 8vh;
  }
  .burger{
      display: none;
  }
}
@media only screen and (max-width: 480px){
  .burger {
      display: flex;
  }
  .right-container {
      justify-content: center;
  }
  .resume,
  .education,
  .contact {
      display: none;
  }
}